name: CI/CD Pipeline

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      FLASK_ENV: production
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-playwright

      - name: Run Ruff
        run: |
          ruff check app.py

      - name: Install Playwright Browsers
        run: playwright install

      - name: Start Flask app
        run: |
          export FLASK_APP=app.py
          export FLASK_ENV=development
          flask run &
          sleep 5

      

      - name: Build Docker image
        run: docker build -t myflaskapp:latest .

      - name: Run test
        run: pytest 

  docker-push:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.ref == 'refs/heads/main' 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myflaskapp:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/myflaskapp:latest
